@model List<Product>
<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Muhteşem el işliğiyle tasarlanan ürünler.</h2>
                <p class="mb-4">Mobilyalarımızı görmeden asla evinize ürün almamalısınız. Sizi mağazalarımıza bekliyoruz!</p>
                <p><a href="shop.html" class="btn">Ürünlerimizi Keşfedin</a></p>
            </div>
            <!-- End Column 1 -->
            @foreach (var item in Model)
            {
                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="@item.ImageUrl" class="img-fluid product-thumbnail">
                        <h3 class="product-title">@item.ProductName</h3>
                        <strong class="product-price">@item.Price₺</strong>

                        <span class="icon-cross">
                            <img src="~/furni-1.0.0/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 2 -->
            }

            

        </div>
    </div>
</div>
<!-- End Product Section -->