@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<!--_DefaultFeatureComponent-->
@await Component.InvokeAsync("_DefaultFeatureComponent")

<!--_DefaultProductComponent-->
@await Component.InvokeAsync("_DefaultProductComponent")

<!--_DefaultServiceComponent-->
<div id="service">
    @await Component.InvokeAsync("_DefaultServiceComponent")
</div>

<!--_DefaultPopularProductComponent-->
@await Component.InvokeAsync("_DefaultPopularProductComponent")

<!--_DefaultTestimonialComponent-->
<div id="testimonial">
    @await Component.InvokeAsync("_DefaultTestimonialComponent")
</div>